fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langgraph
python-telegram-bot
requests
beautifulsoup4
markdownify
python-dotenv
duckduckgo-search
pydantic
faiss-cpu
langchain-huggingface
sentence-transformers
