fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
langgraph
sentence-transformers
python-telegram-bot
requests
beautifulsoup4
markdownify
python-dotenv
pydantic
faiss-cpu
